<!doctype html>
<html>
  <head>
    <title>HTML5 Maze Game</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=stylesheet href="Maze.css">
  </head>
  <body>
    <canvas id=maze></canvas>
    <script type=text/javascript src=Maze.js></script>
  </body>
</html>
