<!doctype html>
<html>
  <head>
    <title>HTML5 Maze Game</title>
    <meta name=viewport content="width=device-width,user-scalable=no">
    <%= css :maze %>
  </head>
  <body>
    <div id=points>Score: 0</div>
    <canvas id=maze></canvas>
    <%= js :maze %>
  </body>
</html>
